#welcome-section {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

#welcome-section h1 {
    text-align: center;
}
#projects{
    height: 50vh;
}
.project-tile{
    width: 200px;
}
.project-tile h2 {
    white-space: nowrap;
}
.project-tile:not(:last-child){
    margin-right: 20px;
}
#projects .project-tile .img-project{
    width: 100%;
    height: auto;
}

/* Small Devices */
@media (max-width: 767.98px) { 
    #welcome-section{
        background-color: brown;
        color: #fff;
    }
 }
